<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095881775351-mkr2gmbdh10quq5ojjevabu51dk5jo02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095881775351-mkr2gmbdh10quq5ojjevabu51dk5jo02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095881775351-19hp4on1dc184vka1aaou5jv340qhj3l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Z5L9sJBBob__stfG4AHT_6UmFUkVkn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095881775351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SpaceXDummy</string>
	<key>PROJECT_ID</key>
	<string>spacexdummy</string>
	<key>STORAGE_BUCKET</key>
	<string>spacexdummy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095881775351:ios:05a984f77ab7d6b5d35bf2</string>
</dict>
</plist>